body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}
#open {
    background-color:#EFF1E8; 
    height: 150px;
    text-align: center;

}
.home {
    width: 800px;
    margin-left: 500px;
  
}
#cover {
    background: url("/images/beach-coast-flip-flops-65900.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
}
.about {
font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
color: black;
line-height:30px;
font-size: medium;
}
.img {
width:100%;
display: block;
float: left;
height:auto;
size:20px;
}
.projects{
    background-color:#3c3c3b;
    
}

